<nav>
    <ul>
        <li>
          <a href="/"> <h2>Menu inicial </h1></a>
        </li>
        <li>
            <a href="/signup"> <h2>Cadastrar filme</h2></a>
        </li>
        <li>
            <a href="sobre"> <h2>Sobre</h2></a>
        </li>
        <li>
            <a href="filmess"> <h2>Filmes</h3></a>
        </li>
    </ul>
     </nav>