<!DOCTYPE html>
<html lang="pt-BR">

    <%- include('./components/head') %><!--assim que chamamos o head em componentes pra ca-->

<body id="cor">
    
    <%- include('./components/header') %><!--assim que chamamos o head em componentes pra ca-->
    
    

<%- include('./components/cadastro') %><!--assim que chamamos o head em componentes pra ca-->

</body>

</html>