<!DOCTYPE html>
<html lang="pt-BR">
    <%- include('./components/head') %><!--assim que chamamos o head em componentes pra ca-->
<body id="cor">
    
    <header id="header3">
       <ul><li><a href="/"><h2>Menu Principal</h2></a></li></ul>

    </header>
<img id="historia1" src="img/historia1.jpg" alt="historia1">
<p id="texto">Filho de um mineiro lituano, Bronson cresceu na Pensilvânia sem falar uma palavra em inglês. Apesar de ter completado o segundo grau, era esperado que ele se juntasse ao pai e seus irmãos no trabalho em minas de carvão onde trabalhou por muitos anos ganhando apenas 1 dolar por dia de trabalho. Serviu o exército dos Estados Unidos durante a Segunda Guerra Mundial, foi artilheiro de cauda do bombardeiro B-29, voou 25 missões no teatro de operações do Oceano Pacífico e recebeu a medalha de condecoração militar Purple Heart por ferimentos em combate.
Buscando mostrar suas habilidades no cinema, estreou fazendo uma pequena ponta em Agora Estamos na Marinha (1951), de Henry Hathaway. Após participar de mais de dez filmes como figurante e outros vinte como coadjuvante, recebeu o papel de protagonista em Adeus, Amigo (1968), de Jean Herman. 

Nos anos 1970, alçou fama no mundo todo ao atuar no longas de ação Assassino a Preço Fixo (1972) e Desejo de Matar (1974). Bronson sofreu do Mal de Alzheimer e morreu em 2003 por consequência de uma pneumonia. Encontra-se sepultado em Brownsville Cemetery, em Vermont nos Estados Unidos.
</p>



</body>
</html>