@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', cursive;
}

#header3{
    position: fixed;
    width: 100%;
    text-align: center;
    padding: .6rem;

}

#header3 a{
    
color: aliceblue;
text-decoration: none;
}
#header3 a:hover{
color: red;
}


#header3  h1{
    color: aliceblue;

}

section#cadastrar div #label1{
    position: absolute;
    top: 15rem;
    bottom: 21rem;
    color: aliceblue;
    left: 1rem;
    
}

#Descrição{
    position: absolute;
    top: 17rem;
    
    left: 6rem;
}

section#cadastrar div #label2{
    position: absolute;
    top: 17rem;
    
    color: aliceblue;
    left: 1rem;
    
}

#tipo{
    position: absolute;
    top: 19rem;
    
    left: 6rem;
}

section#cadastrar div #label3{
    position: absolute;
    top: 19rem;
    
    color: aliceblue;
    left: 1rem;
}

#imagem{
    position: absolute;
    top: 21rem;
    
    left: 6rem;
}

section#cadastrar div #label4{
    position: absolute;
    top: 21rem;
    
    color: aliceblue;
    left: 1rem;
}

#btCadastrar{
    position: absolute;
    top: 23rem;
    
    left: 6rem;

}

#cff{
    position: absolute;
    top: 12rem;
    left: 6rem;
   color: aliceblue;
}

#texto{
    position: absolute;
align-items: flex-start;
top: 12rem;
color: aliceblue;
text-align: left;

}

#cadastar{
    width: 500px;
    margin: auto;
    position: relative;
}

#nome{
    position: absolute;
    top: 15rem;
    
    left: 6rem;
}

#foto22{
    width: 100%;
    
    }